body {

  background-color: rgb(221,221,221);
  /* background: linear-gradient(135deg, rgba(221,221,221,1) 0%, rgba(247,238,240,0.7625) 96%); */

 background-size: cover
}
.background{
  background: rgb(221,221,221);
  background: linear-gradient(135deg, rgba(221,221,221,1) 0%, rgba(247,238,240,0.7625) 96%);
  background-size: cover
}
header {
  background-color: rgb(221,221,221);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5.em;


  width: 100%;
  top: 0;
  left: 0;
}

#rcorners1{
  border-radius:25px;
  font-size: 2.3em;
  font-family: Arial, Helvetica, sans-serif;


}

.nav-bar {
  background-color: #A04668;
  padding: 1em;
  color: #D9D0DE;
  font-size: 1.2em;
  font-weight: 600;
  cursor: 'pointer';

}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > ul > li {
  border: solid 1px;
  padding: .33em;
  display: inline-block;
  margin-top: -10px;
    background-color: #333;
    overflow: hidden;

}

footer {
  padding: .5em;
  background-color: rgba(221, 221, 221, 0.33);
  text-align: center;
  border-top: 4px solid #979696;


}
#root{
  justify-content: center;
  background-color: rgb(221,221,221);
}


#nav-1 {
  background: #c9c9c9;


}
nav{

  margin-top: 25px;
  padding: 24px;
  text-align: center;
  font-family: Raleway;

  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);

}

.link-1 {
  transition: 0.3s ease;
  background: #c9c9c9;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid #c9c9c9;
  border-bottom: 4px solid #c9c9c9;
  padding: 10px 0;
  margin: 0 20px;

}

.link-1:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
}
#header {
  background-color: #b1af2f;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
padding-top: 45px;
}

.All-Around {
  transition: 0.3s ease;
  background: #c9c9c9;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid #c9c9c9;
  border-bottom: 4px solid #c9c9c9;
  padding: 20px 0;
  margin: 0 20px;
  justify-content: left;
}

.body2 {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
}
#request{
  display: flex;
  justify-content: center;
  align-items: center;

}

.results {
  flex-direction: row;


}
