html * {
  font-size: 16px;
  line-height: 1.625;
  color: #2020131;
  font-family: Nunito, sans-serif;
}

body {

  background-color: rgb(221,221,221);
  /* background: linear-gradient(135deg, rgba(221,221,221,1) 0%, rgba(247,238,240,0.7625) 96%); */

 background-size: cover
}
.background{
  background: rgb(221,221,221);
  background: linear-gradient(135deg, rgba(221,221,221,1) 0%, rgba(247,238,240,0.7625) 96%);
  background-size: cover
}
header {
  background-color: rgb(221,221,221);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5.em;


  width: 100%;
  top: 0;
  left: 0;
}

#rcorners1{
  border-radius:25px;
  font-size: 2.3em;
  font-family: Arial, Helvetica, sans-serif;


}

.nav-bar {
  background-color: #A04668;
  padding: 1em;
  color: #D9D0DE;
  font-size: 1.2em;
  font-weight: 600;
  cursor: 'pointer';

}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > ul > li {
  border: solid 1px;
  padding: .33em;
  display: inline-block;
  margin-top: -10px;
    background-color: #333;
    overflow: hidden;

}


#allAroundTitle {
  font-size: 120px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: rgb(137, 137, 137);
  outline: none;
  text-align: center;
}

#allAroundTitle:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 5px;
}


.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  padding: .5em;
  background-color: rgba(221, 221, 221, 0.33);
  text-align: center;
  border-top: 4px solid #979696;


}
#root{
  justify-content: center;
  background-color: rgb(221,221,221);
}


#nav-1 {
  background: #c9c9c9;


}
nav{

  margin-top: 25px;
  padding: 24px;
  text-align: center;
  font-family: Raleway;

  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);

}

.link-1 {
  transition: 0.3s ease;
  background: #c9c9c9;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid #c9c9c9;
  border-bottom: 4px solid #c9c9c9;
  padding: 10px 0;
  margin: 0 20px;

}

.link-1:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
}
#header {
  background-color: #b1af2f;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
padding-top: 45px;
}

.All-Around {
  transition: 0.3s ease;
  background: #c9c9c9;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid #c9c9c9;
  border-bottom: 4px solid #c9c9c9;
  padding: 20px 0;
  margin: 0 20px;
  justify-content: left;
}

.body2 {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
}
/* #request{
  display: flex;
  justify-content: center;
  align-items: center;

}

.results {
  flex-direction: row;


} */

#submit {
  border-radius: 20px;
  border: 2px solid #d15656;
  padding: 10px;
  width: 100px;
  height: 50px;
  justify-content: center;
  margin: 0 150px;


}


#submit:hover {
  background-color: #ffffff;
  position: sticky;
  animation: bounce 3s;
  animation-fill-mode: forwards;

}

.flex-container {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  flex: 1 1 150px;
  background: #cd0e0e;
}

.contactPic{
  /* max-height: 400px;
  max-width: 400px; */
width: 800px;
height: 500px;
flex: 1;
  background-size: contain;
  background-repeat: no-repeat;
  flex-grow: 1;
  border-radius: 25px;
  border: 1.5px solid rgb(221, 219, 219)

}

.contactPic2{
  /* max-height: 400px;
   opacity: 0.5;
  max-width: 400px; */
width: 800px;
height: 200px;
flex: 1;
  background-size: contain;
  background-repeat: no-repeat;
  flex-grow: 1;
  margin-left: 100;
  float: left;
  opacity: 0.6;
  position:  relative;
left: 500px;
bottom: 160px;



}

#headerC{
  justify-content: center;
  align-items: center;
  background: rgb(221,221,221);

}

.backgroundI{
  background-color: #b1af2f;
}


.contactIcon{
  width:50px; /* you can use % */
  height: auto;
  position:relative;
  top:15;
  padding-right: 20;

}

.contactBG{
   background: #c9c9c9;


}
